*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{


height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.9)
),

url("../img/banner.jpeg");


background-size:cover;

background-position:center;


}



/* TARJETA */


.login-container{


width:100%;

display:flex;

justify-content:center;

align-items:center;


}



.login-box{


width:400px;


padding:40px;


background:#111;


border-radius:25px;


box-shadow:

0 0 40px rgba(0,255,136,.2);


text-align:center;


border:1px solid #222;


animation:entrada .6s;


}



@keyframes entrada{


from{

opacity:0;

transform:translateY(-30px);

}


to{

opacity:1;

transform:translateY(0);

}


}



/* LOGO */


.logo-login i{


font-size:55px;

color:#00ff88;


}



.logo-login h1{


color:white;

margin:10px 0 25px;


font-size:28px;


}



.login-box h2{


color:#00ff88;

font-size:30px;


}



.login-box p{


color:#aaa;

margin-bottom:30px;


}




/* INPUTS */


.input-box{


display:flex;

align-items:center;


background:#222;


margin-bottom:20px;


border-radius:30px;


padding:0 20px;


}



.input-box i{


color:#00ff88;


}



.input-box input{


width:100%;

padding:15px;


background:none;


border:none;


outline:none;


color:white;


font-size:16px;


}



/* BOTON */


button{


width:100%;


padding:15px;


border:none;


border-radius:30px;


background:#00ff88;


font-size:18px;


font-weight:bold;


cursor:pointer;


transition:.3s;


}



button:hover{


background:white;


transform:scale(1.05);


}



/* REGRESAR */


.volver{


display:inline-block;


margin-top:25px;


color:#aaa;


text-decoration:none;


transition:.3s;


}



.volver:hover{


color:#00ff88;


}



@media(max-width:450px){


.login-box{


width:90%;


}


}